<div class="container jumbotron">

  <h1>Lunch Picker</h1>
  <p>Press the wheel to start and to stop for selection.</p>
  <div *ngIf="_isShowList">
    <div class="food-list">
      <div class="input-group">
        <input [(ngModel)]="option" class="form-control" placeholder="Add new option">
        <span (click)="addOption(option)" class="input-group-addon">Add</span>
      </div>
      <div *ngFor="let item of wheelItems; let i=index ">
        <div class="row">
          <div class="col-10 ">
            {{item.label}}
          </div>
          <div class="col-2 remove-item">
            <span (click)="removeLabel(i)">X</span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <label class="edit-list-btn" (click)="listStatusToggle()">
    {{listStatusLabel}} List</label>
  <div class="wheel-container">
    <div id="wheel">
      <canvas width="500" height="500" #myCanvas></canvas>
    </div>
  </div>
  <div *ngIf="selection" class="animation">
    <strong>Go to eat in: {{selection}}</strong>
  </div>

</div>